<div class="pricing" [@routerTransition]>
<div class="container">
  <div class="row">
    <h3 style=" text-align:  center;color: dimgray">Our Pricing</h3>
    <div class="col-md-12">
      <div class="col-md-3">
        <div class="card">
          <h2 style="margin-bottom: 50px">Plan 1</h2>
          <div class="card-body">
            <h4 class="card-title" >Plan Details</h4>
            <hr>
            <h4 class="card-title">$29</h4>
            <hr>
            <h4 class="card-title">Features</h4>
            <div class="nnn" style="text-align: center">
              <a href="#" class="btn btn-primary center">Register</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">

        <div class="card">
          <h2 style="margin-bottom: 50px">Plan 2</h2>
          <div class="card-body">
            <h4 class="card-title" >Plan Details</h4>
            <hr>
            <h4 class="card-title">$29</h4>
            <hr>
            <h4 class="card-title">Features</h4>
            <div class="nnn" style="text-align: center">
              <a href="#" class="btn btn-primary center">Register</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">

        <div class="card">
          <h2 style="margin-bottom: 50px">Plan 3</h2>
          <div class="card-body">
            <h4 class="card-title" >Plan Details</h4>
            <hr>
            <h4 class="card-title">$29</h4>
            <hr>
            <h4 class="card-title">Features</h4>
            <div class="nnn" style="text-align: center">
              <a href="#" class="btn btn-primary center">Register</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">

        <div class="card">
          <h2 style="margin-bottom: 50px">Plan 4</h2>
          <div class="card-body">
            <h4 class="card-title">Plan Details</h4>
            <hr>
            <h4 class="card-title">$29</h4>
            <hr>
            <h4 class="card-title">Features</h4>
            <div class="nnn" style="text-align: center">
              <a href="#" class="btn btn-primary center">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>