

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}
h4{
    color: white
}
h2{
    padding-top: 20px;
}
h2{

    color: white;
    text-align: center;
    font-size: 20px;
}
h2{

      color: white;
      text-align: center;
      font-size: 20px;
}
h2{

      color: white;
      text-align: center;
      font-size: 20px;
}
h2{

      color: white;
      text-align: center;
      font-size: 20px;
}
.btn btn-primary{
    text-align: center
}
.card{
    text-align: center;
    background-color: #562343;
    padding-bottom: 20px;
}
