<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!--<head><link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>-->
<!--<div class="x" style="background-color: black">
<nav class="navbar navbar-inverse navbar-fixed-top" style="padding: 12px">
  <div class="container-fluid">
    <div class="navbar-header" >
      <a class="navbar-brand" href="#"><strong>ConTrucks</strong></a>
    </div>
    <ul class="nav navbar-nav" style="color: black">
      <li class="active"><a [routerLink]="['/dashboard']">Home</a></li>
      <li><a href="#">Messages</a></li>
      <li><a href="#">Notifications</a></li>
    </ul>
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
      
    </form>
    <ul class="nav navbar-nav" style="text-align: right">
      <li>  <button type="button" class="btn btn-success btn-circle btn-sx"><i class="fa fa-fw fa-envelope faa-horizontal animated"></i></button></li>
       <li> <button type="button" class="btn btn-info btn-circle btn-sx"><i class="fa fa-fw fa-thumbs-up faa-vertical animated"></i></button></li>
       <li> <button type="button" class="btn btn-danger btn-circle btn-sx"><i class="fa fa-fw fa-map-marker faa-bounce animated"></i></button></li>
      <li> <button type="button" class="btn btn-default btn-circle btn-sx"> <i class="fa fa-fw fa-bell faa-vertical animated"></i></button></li>


      <button type="button" style="margin-left: 50px" [routerLink]="['/home']" class="btn btn-outline-info">Log Out</button>
    <!--<li  background-color: #428bca"><a [routerLink]="['/home']">Log Out</a></li>-->
    
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->
<!--</div>-->-->-->


<header class="header" data-position="fixed">
  <nav class="top-bar">
    <div class="overlay-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="call-to-action">
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-phone"></i> Home</a> &nbsp; &nbsp;
                  <a href="#"><i class="fa fa-envelope"></i> About Us</a> &nbsp; &nbsp;
                  <a href="#"><i class="fa fa-envelope"></i> Contact Us</a> &nbsp; &nbsp;
                  <a href="#"><i class="fa fa-envelope"></i> Help Centre</a> &nbsp; &nbsp;
                  
              </ul>
            </div>
            <!-- /.call-to-action -->
          </div>
          <!-- /.col-sm-6 -->

          <div class="col-sm-6 hidden-xs">
            <div class="topbar-right">
              <ul class="social-links list-inline pull-right">
                <li><a href="http://www.fb.com"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  <a href="#"><i class="fa fa-tumblr"></i></a>
                   <a href="#"><i class="fa fa-linkedin"></i></a>
                   <a href="#"><i class="fa fa-google-plus"></i></a>
                   <a href="#"><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
            <!-- /.social-links -->
          </div>
          <!-- /.col-sm-6 -->



        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.overlay-bg -->
  </nav>
  <!-- /.top-bar -->
 </header>
