<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="login-page" [@routerTransition]>
    <header class="header">
  <div class="row">
    <div class="col-sm-6">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container mainnav">
          <div class="navbar-header">
            <h1 class="logo">
              <a class="navbar-brand" href="#"><img src="/assets/images/ConTrucksLogo.JPG" style="width: 100%" alt=""></a>
            </h1>
          </div>
        </div>
        <!-- /.container -->
      </nav>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home"> <strong>HOME </strong> <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/aboutus']"><strong>ABOUT US </strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#"><strong>HELP CENTER</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#"><strong>CONTACT US</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#"><strong>SERVICES</strong></a>
          </li>

          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/kendogrid']"><strong>Grid</strong></a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</header>
<br><br><br>
  
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Log In</h1>
            <form role="form" (ngSubmit)="onSubmit(logindata)" #logindata="ngForm" [formGroup]="myform">

                <div class="form-content" style="height: 650px; width: 550px;">

                   
                   <div class="form-group form-text ">

                        <div>
                            <!--<label for="userid"> User Id: </label>-->
                            <!-- validation for name field-->
                            <span *ngIf="userid.errors && (userid.dirty || logindata.submitted) && userid.errors.required" class="alert alert-danger alignment">Enter UserId</span>
                        </div>
                        <!--Name input field-->
                        <input type="userid" class="form-control input-underline input-lg" id="userid" placeholder="User Id" name="userid" autofocus
                            formControlName="userid" required>

                    </div>

                        
                    <!--password-->
                    <div class="form-group form-text">

                        <div>
                            <!--<label for="password"> Password: </label>-->
                            <!-- validation for password field-->
                            <span *ngIf="password.errors && (password.dirty || logindata.submitted) && password.errors.required" class="alert alert-danger alignment">Password please</span>
                        </div>
                        <!--password input field-->
                        <input type="password" class="form-control input-underline input-lg" id="password" placeholder="Password" name="password"
                            autofocus formControlName="password" required>

                    </div>

                   

                    <button type="submit" [routerLink]="['/dashboard']" class="btn rounded-btn"  [disabled]="!myform.valid"><i class="fa fa-sign-in" aria-hidden="true"></i> Login </button>&nbsp;
                    <a class="btn rounded-btn" [routerLink]="['/signup']"><i class="fa fa-user-plus" aria-hidden="true"></i> Register </a> <br><br><br>
                    <p><a href="#">Forgot Password???</a></p>
                    <p><a href="#">click here</a> to change your password..!!</p>


                </div>

            </form>

        </div>
    </div>
</div>
