

 <h1>
   Welcome to your Dashboard !! 
 </h1> 
 <hr >
  <div class="row">
    <div class="col-md-4">
    <div class="wrapper">  
        <a [routerLink]="['../newjobpost']">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit" 
          style="margin-right: 5px;width: 100%;font-size: 20px;">Post  new job
      </button> </a> 
    </div> 


    <div class="wrapper">
        <a [routerLink]="['../seecurrentjobs']">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit"
            style="margin-right: 5px;width: 100%;font-size: 20px;"> See Current Jobs
        </button> </a>
    </div>
   
      <div class="wrapper">
          <a [routerLink]="['../conpersonalprofile']">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit"
            style="margin-right: 5px;width: 100%;font-size: 20px;"> Your Personal Profile
        </button> </a>
      </div>
 

      <div class="wrapper">
           <a [routerLink]="['../conpublicprofile']">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit"
          style="margin-right: 5px;width: 100%;font-size: 20px;"> Your Public Profile
      </button> </a>
      </div>

      </div>

      <div class="col-md-4">

      <div class="wrapper">
           <a [routerLink]="['../conjobpost']">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit"
          style="margin-right: 5px;width: 100%;font-size: 20px;"> Your Job Posts
      </button>    </a>
      </div>

 
      <div class="wrapper">
       <a [routerLink]="['../conrecentjobposts']">   
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit"
        style="margin-right: 5px;width: 100%;font-size: 20px;"> Your Recent Job Posts
      </button>    </a>
      </div>


      <div class="wrapper">
        <a [routerLink]="['../conrecentfullfilledjobposts']">    
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit"
        style="margin-right: 5px;width: 100%;font-size: 15px;"> Your Recent Fullfilled Job Posts
      </button> </a>
      </div>


      <div class="wrapper">
       <a [routerLink]="['../contoptruckers']">        
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit"
        style="margin-right: 5px;width: 100%;font-size: 20px;"> Top Truckers
      </button>    </a>
      </div>

      </div>

      <div class="col-md-4">

      <div class="wrapper">
      <a [routerLink]="['../charts']">  
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit"
        style="margin-right: 5px;width: 100%;font-size: 20px;"> Load Units Graph
      </button>  </a>  
      </div>


      <div class="wrapper">
       <a [routerLink]="['/dashboard',{outlets:{cdg:['condistancegraph']}}]">    
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit"
        style="margin-right: 5px;width: 100%;font-size: 20px;"> Load Distance Graph
      </button></a>    
      </div>


      <div class="wrapper">
       <a [routerLink]="['/dashboard',{outlets:{ceg:['conexpendituregraph']}}]">   
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit"
        style="margin-right: 5px;width: 100%;font-size: 17px;"> Load Expenditure Graph
      </button></a>    
      </div>
      </div>
    </div>


    
    

  

  