<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--<div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">        
           <a routerLink="/home" class="navbar-brand"><strong>ConTrucks</strong>  </a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
            <a routerLink="/home" class="navbar-brand">HOME</a>
            </li>
            <li>
              <a routerLink="/howitworks" class="navbar-brand">About </a>
            </li>
            <li>
              <a routerLink="/pricing" class="navbar-brand">Contact Us</a>
            </li>
            <li>
              <button type="btn" routerLink="/login" class="btn btn-default" style="background-color: transparent"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</button>
            </li>
            

            
  </ul>
        </div>
      </div>
    </div>-->


<header class="header">
  <nav class="top-bar">
    <div class="overlay-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="call-to-action">
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-phone"></i> 1-800-987-654</a> &nbsp; &nbsp;
                  <a href="#"><i class="fa fa-envelope"></i> info@ConTrucks.com</a></li>
              </ul>
            </div>
            <!-- /.call-to-action -->
          </div>
          <!-- /.col-sm-6 -->

          <div class="col-sm-6 hidden-xs">
            <div class="topbar-right">
              <ul class="social-links list-inline pull-right">
                <li><a href="http://www.fb.com"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  <a href="#"><i class="fa fa-tumblr"></i></a>
                   <a href="#"><i class="fa fa-linkedin"></i></a>
                   <a href="#"><i class="fa fa-google-plus"></i></a>
                   <a href="#"><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
            <!-- /.social-links -->
          </div>
          <!-- /.col-sm-6 -->



        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.overlay-bg -->
  </nav>
  <!-- /.top-bar -->
  <div class="row">
    <div class="col-sm-6">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container mainnav">
          <div class="navbar-header">
            <h1 class="logo">
              <a class="navbar-brand" href="#"><img src="/assets/images/ConTrucksLogo.JPG" style="width: 100%" alt=""></a>
            </h1>
          </div>
        </div>
        <!-- /.container -->
      </nav>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home"> <strong>HOME </strong> <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><strong>ABOUT US </strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#"><strong>HELP CENTER</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#"><strong>CONTACT US</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#"><strong>SERVICES</strong></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>




    <!--<div class="container">-->
      <router-outlet></router-outlet>
    <!--</div>-->
     

  