

<div class="wrapper">
  <a routerLink="../signup" class="btn btn-primary" style="margin-top: 30px;">Contractor Registration</a>
</div>

<div class="wrapper">
<a routerLink="../truckersignup" class="btn btn-primary" style="margin-top: 30px;">Trucker Registration</a>
</div>
<!--<carousel>-->
  <!-- carousel -->
  <!--<slide>
    <img src="assets/images/slide-1.jpg" style="width: 100%" alt="First slide">
    <div class="container">
      <div class="carousel-caption">
        <small class="animated fadeIn">CALL US TODAY</small>
        <div class="phone animated lightSpeedIn">1-800-1234-567</div>
        <h3 class="animated lightSpeedIn">Making transportation fast and safe</h3>
        <p class="lead animated lightSpeedIn"> At ConTrucks We Meets Your Destination </p>
        <a class="btn btn-outline-info my-2 my-sm-0" href="#">Work With Us Today</a>
      </div>
    </div>
  </slide>
  <slide>
    <img src="assets/images/slide-2.jpg" style="width: 100%" alt="Second slide">
    <div class="container">
      <div class="carousel-caption">
        <h4> We value your time and money</h4>
        <a class="btn btn-outline-info my-2 my-sm-0" href="#">Work With Us Today</a>
      </div>
    </div>
  </slide>-->
<!--</carousel>-->



<section class="service-home section-padding">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="section-title">Our 24 Hour’s Services</h2>
        <span class="section-sub"> <strong>Anytime you need<br> ConTrucks will be there for you</strong></span>
      </div>

    </div>
    <!-- /.row -->

    <div class="row content-row">
      <div class="col-sm-4">
        <div class="service">
          <div class="service-thumb-home">
            <a href="#"><img src="/assets/images/trans.jpg" alt=""></a>
          </div>

          <h3>Transportation &amp; Logistics</h3>
          <p>It’s all about moving things, storing things and supplying things.<br> And when we say ‘things’, we mean anything
            and everything, from people and animals to goods and services.</p>
          <a class="readmore" href="#">Read More &nbsp;<i class="fa fa-angle-right"></i> </a>
        </div>
      </div>
      <!-- /.col-sm-4 -->

      <div class="col-sm-4">
        <div class="service">
          <div class="service-thumb-home">
            <a href="#"><img src="/assets/images/moving.jpg" alt=""></a>
          </div>
          <h3>Moving &amp; Storage</h3>
          <p>Our convenient portable moving units allow you to set the pace of your move and stay organized in the process.<br>            Delivered directly to your door, <strong>ConTrucks </strong> units allow you to approach moving in a different
            way. </p>
          <a class="readmore" href="#">Read More &nbsp;<i class="fa fa-angle-right"></i> </a>
        </div>

      </div>
      <!-- /.col-sm-4 -->

      <div class="col-sm-4">
        <div class="service">
          <div class="service-thumb-home">
            <a href="#"><img src="/assets/images/shipping.jpg" alt=""></a>
          </div>
          <h3>Shipping Operations</h3>
          <p>If you are planning a move but your new destination is offshore.<br>Our specialized services provide an easy-to-use,
            flexible solution when you’re faced with moving schedule challenges.<br> </p>
          <a class="readmore" href="#">Read More &nbsp;<i class="fa fa-angle-right"></i> </a>
        </div>
      </div>
      <!-- /.col-sm-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- services end -->


<!-- featuer-section start -->
<section class="feature-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-xs-12">
        <h2>We do care about your cargo!</h2>

        <p>If you're using a cargo for work, then you need to do so safely while protecting this vital asset, keeping it secure
          and making sure thieves think twice about stealing it or its contents.</p>

        <p>Owning and running a cargo is a full-time job. Not only do you need to keep it maintained and working properly on
          the road, but it needs to be safe and secure so that your business can keep moving. After all, time is money, and
          the more time spent inconvenienced by problems and hassle can mean less money coming in. It all means that van
          safety and security should also be a priority for every owner and driver.</p>
        <p> We at ConTrucks provides you full security and also maintainance for your cargos. We beleive in collaboration. </p>

        <a href="#" class="btn btn-outline-info my-2 my-sm-0" style="border-radius: 30px;background-color: #65d3e3;color: white">View Details</a>
      </div>

    </div>
  </div>
</section>
<!-- featuer-section end -->


<!-- why-us-setion start -->
<section class="why-us-setion section-padding">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
        <h2 class="section-title">Why Choose Us</h2>
        <span class="section-sub">We provide you best security in transportation<br> Our service is fast , secure , trackable , reliable and much more</span>
      </div>
    </div>
    <!-- /.row -->

    <div class="row content-row">
      <div class="col-md-12">
        <div class="css-tab" role="tabpanel">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#" aria-controls="secure" role="tab" data-toggle="tab"><i class="fa fa-user-secret" aria-hidden="true"></i> Secure</a></li>
            <li role="presentation"><a href="#" aria-controls="trackable" role="tab" data-toggle="tab"><i class="fa fa-tachometer" aria-hidden="true"></i> Trackable</a></li>
            <li role="presentation"><a href="#" aria-controls="fast" role="tab" data-toggle="tab"><i class="fa fa-truck" aria-hidden="true"></i> Fast</a></li>
            <li role="presentation"><a href="#" aria-controls="reliable" role="tab" data-toggle="tab"><i class="fa fa-glass" aria-hidden="true"></i> Reliable</a></li>
          </ul>

         
        </div>
        <!-- /.css-tab -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</section>
<!-- why-us-setion end -->



<!-- counter start -->
<section class="counter-section" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="counter-block">
          <i class="fa fa-truck" aria-hidden="true" style="font-size: 60px;color:coral"></i> &nbsp;
          <span style="font-size: 40px;color: white"><strong>799<br></strong>order delivered</span>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="counter-block">
          <i class="fa fa-ship" aria-hidden="true" style="font-size: 60px;color:coral"></i> &nbsp;
          <span style="font-size: 40px;color: white"><strong>19<br></strong>order delivered</span>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="counter-block">
          <i class="fa fa-compass" aria-hidden="true" style="font-size: 60px;color: coral"></i> &nbsp;
          <span style="font-size: 40px;color: white"><strong>521<br></strong>order delivered</span>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.counter-section -->
<!-- counter end -->

<!-- cta start -->
<section class="cta-section">
  <div class="container text-center">
    <a data-toggle="modal" data-target="#quoteModal" href="#" class="btn btn-primary quote-btn">Get a Quote</a>

    <!-- Modal -->
    <div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="quoteModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="quoteModalLabel">Request a rate for the shipping of your goods.</h3>
          </div>
          <div class="modal-body">
            <form id="contactForm" action="sendemail.php" method="POST">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" name="name" type="text" class="form-control" required="" placeholder="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="company">Company Name</label>
                    <input id="company" name="company" type="text" class="form-control" placeholder="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input id="phone" name="phone" type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input id="email" name="email" type="email" class="form-control" required="" placeholder="">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="city">City Name</label>
                    <input id="city" name="city" type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="subject">Subject</label>
                    <input id="subject" name="subject" type="text" class="form-control" required="" placeholder="">
                  </div>
                </div>
              </div>
              <div class="form-group text-area">
                <label for="message">Your Message</label>
                <textarea id="message" name="message" class="form-control" rows="6" required="" placeholder=""></textarea>
              </div>

              <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->
</section>
<!-- /.cta-section -->
<!-- cta end -->


<!-- footer-widget-section start -->
<section class="footer-widget-section section-padding">
  <div class="container" style="width: 100%">
    <div class="row">
      <div class="col-md-3 col-md-offset-1 col-sm-4">
        <div class="footer-widget">
          <h3>Place &amp; Contact</h3>

          <address>
            384 Maple Circle<br> Simi Valley, Nevada 47424<br>

            <!-- Google Map Modal Trigger -->
            <button type="button" class="modal-map" data-toggle="modal" data-target="#cssMapModal">Location  Map</button>

            <span class="tel">(554) 616-9926</span>
          </address>


          <!-- Modal -->
          <div class="modal fade" id="cssMapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Our Location</h4>
                </div>
                <div class="modal-body">

                  <div id="googleMap"></div>

                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- End Modal -->
        </div>
        <!-- /.footer-widget -->
      </div>
      <!-- /.col-md-4 -->

      <div class="col-md-3 col-sm-4">
        <div class="footer-widget">
          <h3>About Transport</h3>

          <ul>
            <li><a href="about.html">About</a></li>
            <li><a href="service.html">Service</a></li>
            <li><a href="our-people.html">Our people</a></li>
            <li><a href="career.html">Career</a></li>
            <li><a href="faq.html">FAQ Page</a></li>
          </ul>
        </div>
        <!-- /.footer-widget -->
      </div>
      <!-- /.col-md-4 -->

      <div class="col-md-4 col-sm-4">
        <div class="footer-widget">
          <h3>Stay in Touch</h3>
          <p>Enter your email address to receive news &amp; offers from us</p>

          <form class="newsletter-form">
            <div class="form-group">
              <label class="sr-only" for="InputEmail1">Email address</label>
              <input type="email" class="form-control" id="InputEmail1" placeholder="Your email address">
              <button type="submit" class=""><i>Send</i> &nbsp;<i class="fa fa-angle-right"></i></button>
            </div>
          </form>
        </div>
        <!-- /.footer-widget -->
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.cta-section -->
<!-- footer-widget-section end -->

<!-- copyright-section start -->
<footer class="copyright-section">
  <div class="container text-center">
    <div class="footer-menu">
      <ul>
        <li><a href="#"><strong>Privacy &amp; Cookies </strong></a></li>
        <li><a href="#"><strong>Terms &amp; Conditions</strong></a></li>
        <li><a href="#"><strong>Accessibility</strong></a></li>
      </ul>
    </div>

    <div class="copyright-info">
      <span><strong>Copyright © 2017 ConTrucks.</strong> <br><strong>All Rights Reserved. Designed by </strong><a href="https://smartdatainc.com.com" style="text-decoration: none;">smartData Enterprise</a></span>
    </div>
  </div>
  <!-- /.container -->
</footer>
<!-- copyright-section end -->

