<div class="howitworks" [@routerTransition]>

<div class="container">
  <form>
    <h2 style="font-family: Arial, Helvetica, sans-serif;text-align: center"> HOW IT WORKS</h2>
    <h3 type="text" disabled="disabled" style="text-align: center;font-size: 20px;color: lightslategrey;">Take a quick tour to learn how payroll system works</h3>
  
  <div class="row">
    <div class="col-sm-2">
      <img src="assets\images\finance_8-512.png" alt="..." class="img-thumbnail">
     <h6> Payslip </h6>
    </div>
    <div class="col-sm-2">
       <img src="assets\images\Payroll_copy-512.png" alt="..." class="img-thumbnail">
     <h6> Contirbution/Loan </h6>
    </div>
    <div class="col-sm-2">
       <img src="assets\images\Payroll_2_copy-512.png" alt="..." class="img-thumbnail">
     <h6> Payroll Journal </h6>
    </div>
    <div class="col-sm-2">
       <img src="assets\images\bank-512.png" alt="..." class="img-thumbnail">
     <h6> Bank Reports </h6>
    </div>
    <div class="col-sm-2">
       <img src="assets\images\dollar_sign_subtract-512.png" alt="..." class="img-thumbnail">
     <h6> Other Deduction </h6>
    </div>
    <div class="col-sm-2">
       <img src="assets\images\money.png" alt="..." class="img-thumbnail">
     <h6> Allowance </h6>
    </div>

  </div>
  </form>
</div>

</div>